<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <script type="text/javascript" src="{{ url_for('static', filename = 'layout.js') }}"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom bg-light navbar-light" style="color: #184783;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand">Doge Database</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add">Add</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" id="searchForm" action="/search_results">
          <input class="form-control mr-sm-2" type="search" id="searchBox" placeholder="Search" aria-label="Search" name="search">
          <button class="btn  my-2 my-sm-0 editButton" id="searchButton" type="submit">Search</button>
        </form>
      </div>
    </nav>


    

    <div class="container">   
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>




